*{
    cursor: url("./img/aero\ normal\ \(large\).cur") 10 10, auto;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/037/202/072/original/abstract-white-sci-fi-tunnel-seamless-loop-4k-3d-animation-background-free-video.jpg);
    background-size: contain;
  }
  
  #divtabela{
    display: block;
    margin-top: -20%;
    margin-bottom: 7%;
  }
  .tabela {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    justify-content: center;
  }
  
  .elemento {
    width: 60px;
    height: 60px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: url("./img/scii.png") 10 10, auto;
    border: inset ;
  }
  .elemento:hover{
    color: white;
    font-size: 16px;
  }
  
  img{
    margin-top: 1%;
    margin-left: -20%;
  }
  
  .minecraft {
    position: fixed;
    background: #b3b3b3;
    background: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
    padding: 10px;
    font-size: 14px;
    z-index: 100;
    border: inset;
  }
  